
@{
    ViewBag.Title = "ToDo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    del {
        background-color: red;
    }
</style>
<h2>Yapılacaklar</h2>

<br />

<p><del>Başlıklarda arama kutucuğu</del></p>
<p><em><ins>-Arama kutucuğu boş bırakıldığında da tüm yazıları göstersin</ins></em></p>
<p><del>Yazar görselleri düzenlenecek</del></p>
<p><del>Grafikler</del></p>
<p><del>Vitrin teması eklenecek</del></p>
<p><em><ins>-iconları düzenle</ins></em></p>
<p>Gelen kutusunda arama</p>
<p><del>Yetkilendirmeler</del></p>
<p><del>Hata sayfası layoutdan ayrılacak</del></p>
<p><del>Sözlük ve vitrin ayrılacak</del></p>
<p><del>Herhangi bir tablo raporlanacak</del></p>
<p><del>Siteye git kısmı son kez düzenlenecek</del></p>
<p>Url'de Id yerine isim gelsin.</p>
<p><del>IFrame Ekle</del></p>
<p><del>SweetAlert</del></p>
<p><del>Admin Çıkış yap<del></p>
<p>Bazı sayfalar ekranı doldurmuyor. Bunu Düzelt.</p>

<br />

<p>Proje dosyaları sunucuya taşınacak</p>
<p>Alan adı alınacak</p>
<p>Proje canlıya taşınacak</p>
